<configuration debug="false">
	<property file="logging/config/database/mysql/mysql.properties"/>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FUNCTION_LOG_TIME_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>./logging/logs/timeLog.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FUNCTION_LOG_DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>com.mysql.cj.jdbc.Driver</driverClass>
			<url>jdbc:mysql://${db_instance}:${db_port}/${db_name}?useSSL=false</url>
			<user>${user}</user>
			<password>${password}</password>
		</connectionSource>
	</appender>

	<logger name="at.uibk.dps.ee.observer.logging.logback.LogbackEnactmentLogger" level="INFO"
			additivity="true">
		<appender-ref ref="FUNCTION_LOG_TIME_FILE" />
		<appender-ref ref="FUNCTION_LOG_DB" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
